html{
    font-size: 16px;
}

body{
 background-color:  whitesmoke;
 background-image: url(unnamed.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color: white;
    margin: 0; 
    height: 100vh;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:sans-serif;
}
li{
    cursor: pointer;
    list-style-type: none;
}

/*Zona de las opiones de categorias del menu*/
.mesa{

    max-width: 10rem;
    padding: 1rem;
    font-size: medium;
}

header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color:black;
    color: wheat;
    z-index: 2;
}

.Abrir-menu, .cerrar-menu{
    display: none;
}
.opM{
    list-style-type: none ;
    display: flex;
    gap: 1rem;
}


.opM li button{
    color:wheat;  
    text-decoration: none;
    color:wheat;  
    text-decoration: none;
    background-color: transparent;
    border:none;
    font-size: 2;
    cursor: pointer;
}

.lang-button{
    background-color: transparent;
    color: wheat;
    border: 0;
    cursor: pointer;
    padding: .2rem;
}

/*Zona de la orden*/
.productos_orden{
    display: block;
    flex-direction: column; 
    align-items: baseline; 
    max-width: 300px; 
    padding: 1rem;
}
#bote-basura{
    display: block;
    padding: 0.1rem 0.4rem;
    background-color:transparent;
    color:wheat;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}
#bote-basura:active{
    transform: scale(0.98);
    background-color: white;
}
.carrito{
    background-color: rgba(0, 0, 0,.8);
    padding: 2rem;
    margin: 0.5rem;
    color: wheat;
    font-size: 1rem;
    display: none;;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.carrito.visible{
    position: relative;
    display: block;
   opacity: 1;
}
.cerrar_carr{
 background-color:rgba(0, 0, 0,.8) ;
 font-size: 15px;
 color:wheat;
 border: none;
 cursor: pointer;
 position: absolute;
top: 5%;
right: 5%;

}
.carr{
    font-size: 20px;
}
.datos-tabla{
    padding: 1rem;
    margin: 1rem;
}
.enviar-t{
    margin: 1rem;
    background-color: transparent;
    color: wheat;
    border: 2px solid wheat;
    padding: 3px;
    cursor: pointer;
}
.enviar-t:active{
    background-color:white;
    transform: scale(0.95);
}
.opM hr{
    border-color: wheat;
}
.datos-producto{
    margin: 1rem;
    display: block;
}

/*Zona de precio*/
.precio{
    display: flex;
}
.S-boton{
    display: block;
    background-color:transparent;
    color:wheat;
    cursor: pointer;
    height: 30px;
}


/*Zona del menu*/
.producto{
    background-color: rgba(0, 0, 0,.8);
    padding: 2rem;
    margin: 0.5rem;
    align-items: center;
    place-items: center;
    color: wheat;
    display: block;
}
.productos_menu{
    padding: 1rem;
}

/*Zona responsiva */

@media screen and (max-width:550px){

    .opM hr{
        border: none;               
        border-left: 2px solid wheat; 
        width: 100px;                   
        height: 150px ;            
        padding: 0;  
        margin: 0 auto; 
        transform: rotate(90deg);

    }

    .lang-button{
        background-color: transparent;
        color: wheat;
        border: 0;
        cursor: pointer;
        padding:  .2rem;
    }

    .Abrir-menu,.cerrar-menu{
        display: block;
        font-size: 1.2rem;
        background-color: transparent;
        color: wheat;
        cursor: pointer;
        border: 0;
    
    }


    .nav{
        
        position: absolute;
        top: 0%;
        right: 0;
        bottom: 0%;
        gap: 1rem;
        background-color: rgb(1, 2, 3);
        padding: 1rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0,0,.5);
        display: flex;
        flex-direction: column;
        align-items: end;
        opacity: 0;
        visibility: hidden;
        z-index: 4;
        
        
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s ease;
    }

    .opM{
        flex-direction: column;
        align-items: end;
    }
    .opM li a{
        color:wheat;  
        text-decoration: none;
    }
    
}