html{
    font-size: 16px;
}

body{
    background-color:  rgb(255, 255, 255);
    color: white;
    margin: 0; 
    height: 100%;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:sans-serif;
}

li{
    cursor: pointer;
    list-style-type: none;
}

/*Zona de las opciones de categorias del menu*/
.mesa{
    max-width: 10rem;
    padding: 1rem;
    font-size: medium;
}

header{
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    z-index: 2;
    position: fixed; 
    top: 0;
    left: 0;
    border-bottom: 1px solid white;
}

.menu-container {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu-desplegable {
    width: 1.5rem;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-desplegable div {
    width: 100%;
    height: 0.15rem;
    background-color: rgb(255, 255, 255);
    transition: all 0.2s ease;
}

.sidebar {
    margin-top: 4rem;
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 2rem 0;
    border-left: 1px solid white;
    overflow-y: auto;
    background-color: black;
    transition: width 0.4s ease;
    align-items: flex-end;
}

.sidebar.menu-toggle {
    width: 18.75rem;
    border-left: 1px solid white;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0.9rem 0.7rem;
    text-decoration: none;
    margin: 0 0.5rem;
    color: white;
    border-radius: 0.3rem;
    white-space: nowrap;
    overflow: hidden;
    
}

.sidebar a:hover {
    background-color: rgb(20, 20, 20);
}

.menu-boton.a-selected {
    border-bottom: 2px solid white;
    color: rgb(230, 230, 230);
    background-color: rgb(20, 20, 20);
}

.sidebar.a-toggle {
    border-bottom: 2px solid white;
    color: rgb(230, 230, 230);
    background-color: rgb(20, 20, 20);
}

.Abrir-menu, .cerrar-menu{
    display: none;
}

.opM{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}


.opM li button{
    color:rgb(255, 255, 255);  
    text-decoration: none;
    background-color: transparent;
    border:none;
    font-size: 2;
    cursor: pointer;
}

.lang-button{
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 0;
    cursor: pointer;
    padding: .2rem;
}

/*Zona de la orden*/
.productos_orden{
    display: block;
    flex-direction: column; 
    align-items: baseline; 
    max-width: 300px; 
    padding: 1rem;
}
#bote-basura{
    display: block;
    padding: 0.1rem 0.4rem;
    background-color:transparent;
    color:rgb(255, 255, 255);
    font-size: 1rem;
    border: none;
    cursor: pointer;
}
#bote-basura:active{
    transform: scale(0.98);
    background-color: white;
}

.carrito {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 1rem;
    display: none;
    opacity: 0;
    transition: 0.1s ease;
}

.carrito.visible {
    display: block; 
    position: fixed;
    opacity: 1; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid rgb(0, 0, 0);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    transition: opacity 0.4s ease;
    max-height: 70vh;
    overflow-y: auto;
    scrollbar-width: 8px;
    scrollbar-color: rgb(0, 0, 0) rgb(255, 255, 255);
    
}

.cerrar_carr {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 15px;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    position: sticky;
    top: 3%;
    left: 90%;
}

.cuenta thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    padding: 1.5rem;
}

.datos-tabla{
    padding: 1rem;
    margin: 1rem;
}
.enviar-t{
    margin: 1rem;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    padding: 3px;
    cursor: pointer;
}
.enviar-t:active{
    background-color:white;
    transform: scale(0.95);
}
.opM hr{
    border-color: rgb(255, 255, 255);
}

.datos-producto{
    margin: 1rem;
    display: block;
}

/*Zona de precio*/
.precio{
    display: flex;
}
.S-boton{
    display: block;
    background-color:transparent;
    color:rgb(0, 0, 0);
    cursor: pointer;
    height: 30px;
}

/*Zona del menu*/
.producto{
    background-color: rgba(139, 95, 0, 0.8);
    padding: 1.5rem;
    margin: 0.5rem;
    align-items: center;
    place-items: center;
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    border-radius: 1rem;
    margin-top: 5.5rem;
    justify-content: space-between;
}

.productos_menu{
    padding: 1rem;
    margin: 1.5rem;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    align-items: center;
    place-items: center;
}

.nombreP {
    font-size: 20px;
    font-weight: bold;
}

/*Zona del footer */
footer{
    display: flex;
    width: 100%;
    background-color: black;
    height: 7rem;
    justify-content: center;
    align-items: center;
}

/*Zona de mensajes*/
.abrir_notis{
    border: 3px solid black;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: black;
    z-index: 3;
    font-size: 3rem;
    cursor: pointer;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 5rem;
}

.notificaciones{
    display: block;
    height: 15rem;
    width: 15rem;
    background-color: rgb(0, 0, 0);
    z-index: 2;
    top: 20rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    opacity: 0;
    border: 2px solid white;
    border-radius: 1rem;
    place-items: center;
}

.call-mesero, .call-account{
    margin: 1rem;
    border: 2px solid rgb(0, 0, 0);
    background-color: black;
    color:rgb(255, 255, 255);
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 10px;


}

.notificaciones.visible{
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .7);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cerrar-notis{
    background-color:rgba(0, 0, 0,.8) ;
    font-size: 15px;
    color:wheat;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 5%;
}

/*Zona responsiva */

@media (max-width:934px){
    .producto{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:650px){
    .opM hr{
        border: none;               
        border-left: 2px solid wheat; 
        width: 100px;                   
        height: 150px ;            
        padding: 0;  
        margin: 0 auto; 
        transform: rotate(90deg);
    }

    .lang-button{
        background-color: transparent;
        color: rgb(255, 255, 255);
        border: 0;
        cursor: pointer;
        padding: .2rem;
    }

    .sidebar.menu-toggle {
        width: 12rem;
        border-left: 1px solid white;
}
    .producto{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width:350px){
    .productos_menu{
        display: block;
        justify-content: center;
    }
}