body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}

.lead {
  color: white;
  font-size: 5rem;
}

.row {
  justify-content: center;
  border-bottom: solid white .5rem;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
  color: white;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
  color: rgb(255, 255, 255);
}

.featurette-divider {
  margin: 2rem 0; 
}

.featurette-heading {
  letter-spacing: -.05rem;
  color: white;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
    color: white;
  }

  .featurette-heading {
    font-size: 50px;
    color: white;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
    color: white;
  }
}
