
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}


#contenedor {
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    height: 100%; 
    box-sizing: border-box;
}



#comandas {
    flex: 0 0 60%;  
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;  
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
}


#notificaciones {
    flex: 0 0 30%; 
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;  
}


#contenedor > div {
    margin-right: 20px;  
}



.divOrder {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-height: max-content;
}

.divOrder:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.ordenName {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.ordenDate, .ordenComent, .ordenTotal {
    font-size: 1rem;
    color: #666;
}


.ordenTotal {
    font-weight: bold;
    color: #ffc107; 
}

p {
    margin: 0;
}

.deleteButton{
    display: flex;
    margin-left: auto; 
    margin-right: 0;
    height: 30px;
    width: 40px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    justify-content: center;
    align-items: center;
}

.deleteButton:hover {
    background-color: #e60000;
}

.deleteButton:focus {
    outline: none;
}

.deleteButton i{
    font-size: 19px;
}