body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

h2 {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#comandas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-height: 75vh;
    overflow-y: auto;
    justify-content: space-around;
}

.comanda {
    border: 1px solid #1d1c1c;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: calc(45% - 20px); /* Ajusta el ancho para tener 2 en fila si hay espacio */
    box-sizing: border-box;
    transition: transform 0.2s;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5rem;
    background-color: #f0f0f0;
    align-items: center;
    gap: 10px; 
}

.comanda-realizada {
    border: 1px solid #1d1c1c;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: calc(45% - 10px); /* Ajusta el ancho para tener 2 en fila si hay espacio */
    box-sizing: border-box;
    transition: transform 0.2s;
    display: flex;
    font-size: 1.5rem;
    background-color: #f0f0f0;
    align-items: center;
    gap: 10px; 
    justify-content: space-between;
}

.descripcion {
    width: 100%;
}

.botones {
    width: 50%;
    align-items: end;
}

.botones button {
 width: 100%;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center; /* Centra el contenido principal */
    align-items: flex-start; /* Evita que los elementos se apilen al centro */
}


.comanda:last-child {
    border-bottom: none;
    display: flex;
    justify-content: center; /* Centra los botones */
    gap: 10px; /* Espacio entre los botones */
}

button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnAtendida {
    background-color: #4CAF50; 
    color: white;
    width: 40%;
    height: 6rem;
}

.btnEliminar {
    background-color: #f44336; 
    color: white;
    width: 40%;
    height: 6rem;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: #fff;
    width: 100%;
    display: none; /* Ocultar inicialmente */
    position: fixed;
    bottom: 0;
    left: 0;
    
}

body {
    width: 100%;

}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.Logo{
    width: 70px;
    height: auto;
    left: 0;
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.container-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.container-logo i {
	font-size: 3rem;
}

.container-logo h1 a{
	text-decoration: none;
	color: #ffffff;
	font-size: 2.5rem;
}

/* Barra */

.navbar-logo {
	display: flex;
	padding: 1rem;
    width: 100%;
    height: 8rem;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
}

.menu-container {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}


.nav li button{
    color:rgb(255, 255, 255);  
    text-decoration: none;
    background-color: transparent;
    border:none;
    font-size: 2;
    cursor: pointer;
}

.nav a {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    text-decoration: none;
    color: white;
    border-radius: 0.3rem;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
}

.titulo {
    background-color: #ffffff;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    margin-top: 9rem;
}