/*El inicio del header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    padding: 20px;
    background-color: transparent;
    margin: 20px; /* Añadir márgenes para despejar el header de las orillas */
    border-radius: 50px; /* Ajustar el border-radius */
    box-sizing: border-box; /* Para incluir padding en el cálculo del ancho total */
    width: calc(100% - 40px); /* Ajustar el ancho para tener en cuenta los márgenes */
    position: relative;
    width: 98%;
    height: 300px; /* Ajusta la altura según sea necesario */
    overflow: hidden;
}

.Login-button
.new-button{
  color: #000000;
  padding: 8px;
  font-size: 1em;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: 10px;
  border-radius: 20px;
  transition: background-color 0.7s ease-in-out;
}

.header-left,
.header-right{
    display: flex;
}

.Login-button{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000; /* Color del texto */
    padding: 8px 9px;
    border: 2px solid #fff; /* Color del borde */
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    margin: 10px;
    background-color:#F1F1F1;
}

.Login-button span {
    margin-right: 10px;
}

.Login-button svg {
    width: 10px;
    height: 10px;
    fill: currentColor;
}

.Login-button:hover {
    background-color: #BBBBBB; /* Color de fondo al pasar el cursor */
    color: #fff; /* Color del texto al pasar el cursor */
}

.Login-button:active {
    background-color: #555; /* Color de fondo al hacer clic */
}

.new-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000; /* Color del texto */
    padding: 8px 9px;
    border: 2px solid #fff; /* Color del borde */
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    margin: 10px;
    background-color:#F1F1F1;
}

.new-button span {
    margin-right: 10px;
}

.new-button svg {
    width: 10px;
    height: 10px;
    fill: currentColor;
}

.new-button:hover {
    background-color: #BBBBBB; /* Color de fondo al pasar el cursor */
    color: #fff; /* Color del texto al pasar el cursor */
}

.new-button:active {
    background-color: #555; /* Color de fondo al hacer clic */
}

.Center{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #F1F1F1; /* Color del texto */
    padding: 10px 20px;
    border: 2px solid #000; /* Color del borde */
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    margin: 10px;
    background-color: #000; /* Color de fondo al pasar el cursor */
    color: #fff; /* Color del texto al pasar el cursor */
}

.Center span {
    margin-right: 10px;
}

.Center svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.Centern:active {
    background-color: #555; /* Color de fondo al hacer clic */
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#myVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1; /* Coloca el video detrás del contenido */
}

/*El Fin del header*/

/* Diseño y Contenedor */
h1{
    color: #DAC0A3;
    font-size: 45px;
}
ul li{
    display: inline-block;
    padding: 0px 20px;
}
a{
    color: #DAC0A3;
    text-decoration: none;
}
a:hover{
    color: #424769;
}
.Shopping1{
    display: flex;
    justify-content: end;
}
.Imagenin{
    display: flex;
    justify-content: center;
}
.New{
    margin: 0px 15px;
}
.Logo{
    width: 100px;
}
.Shopping{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.Contenedor2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #F6F5F2;
    margin: 20px; /* Añadir márgenes para despejar el header de las orillas */
    border-radius: 50px; /* Ajustar el border-radius */
    box-sizing: border-box; /* Para incluir padding en el cálculo del ancho total */
    width: calc(100% - 40px); /* Ajustar el ancho para tener en cuenta los márgenes */
}

.Teniscontenedor{
    display: flex;
    justify-content: space-between
}

@media (max-width: 600px) {
    .Teniscontenedor {
        flex-direction: column; /* Cambia la dirección de los elementos a columna */
        align-items: center; /* Centra los elementos horizontalmente */
    }

    .Teniscontenedor .item {
        width: 100%; /* Los elementos tomarán el 100% del ancho del contenedor */
    }
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Variables */
:root{
    --dark-color-lighten:#eaeaea;
    --red-card: #EEE7DA;
    --btn: #141414;
    --btn-hover: #3a3a3a;
    --text: #100F0F;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.Teni-air97{
    max-width: 100%;
    height: 100%;
}

body{
    height: 100hv;
    width: 100vw;
    background-color: #F5F0E3;
}

button{
    display: inline-block;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    color: var(--text);
    cursor: pointer;
}

/* Card */
.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4.5rem;
    .card{
        background-color: var(--red-card);
        width: 280px;
        padding: 1rem;
        box-shadow: -1px 15px 30px --12px
        rgb(32, 201, 29);
        border-radius: 0.9rem;
        color: var(--text);
        cursor: pointer;
        border-radius: 20px;
        .Contenedor-tenis{
            transform: translate(0, -1.5rem);
            transition: 0.5s ease-in-out;
            filter: drop-shadow(5px 10px 10px rgb(8, 9, 13, 0.4));
        }

        &:hover{
            .Contenedor-tenis{
                transform: translate(-1.5rem, -7rem) rotate(-20deg);
            }
        }
        .product-info{
            text-align: center;
            & h2{
                font-size: 1.4rem;
                font-weight: 600;
            }
            & p{
                margin: 0.4rem;
                font-size: 0.8rem;
                font-weight: 600;
            }
            .price{
                font-size: 1.2rem;
                font-weight: 500;
            }
            .btn{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin-top: 0.8rem;
                .buy-btn{
                    background-color: var(--btn);
                    padding: 0.6rem 3.5rem;
                    font-weight: 600;
                    font-size: 1rem;
                    color: #fff;
                    transition: 0.3s;
                    &:hover{
                        background-color: var(--btn-hover);
                    }
                }
                .favoritos{
                    background: #fff;
                    padding: 0.5rem 0.5rem;
                    border: 1px solid#000;
                    display: flex;
                    place-items: center;
                    font-size: 30px;
                }
            }
        }
    }
}

/* Fin de Diseño y Contenedor */

/* Card */
.container1{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4.5rem;
    .card1{
        background-color: var(--red-card);
        width: 280px;
        padding: 1rem;
        box-shadow: -1px 15px 30px --12px
        rgb(32, 201, 29);
        border-radius: 0.9rem;
        color: var(--text);
        cursor: pointer;
        border-radius: 20px;
        .Contenedor-tenis1{
            transform: translate(0, -1.5rem);
            transition: 0.5s ease-in-out;
            filter: drop-shadow(5px 10px 10px rgb(8, 9, 13, 0.4));
        }

        &:hover{
            .Contenedor-tenis1{
                transform: translate(-1.5rem, -7rem) rotate(-20deg);
            }
        }
        .product-info1{
            text-align: center;
            & h2{
                font-size: 1.4rem;
                font-weight: 600;
            }
            & p{
                margin: 0.4rem;
                font-size: 0.8rem;
                font-weight: 600;
            }
            .price1{
                font-size: 1.2rem;
                font-weight: 500;
            }
            .btn1{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin-top: 0.8rem;
                .buy-btn{
                    background-color: var(--btn);
                    padding: 0.6rem 3.5rem;
                    font-weight: 600;
                    font-size: 1rem;
                    color: #fff;
                    transition: 0.3s;
                    &:hover{
                        background-color: var(--btn-hover);
                    }
                }
                .favoritos{
                    background: #fff;
                    padding: 0.5rem 0.5rem;
                    border: 1px solid#000;
                    display: flex;
                    place-items: center;
                    font-size: 30px;
                }
            }
        }
    }
}

/* Fin de Diseño y Contenedor */

/* Card */
.container2{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4.5rem;
    .card2{
        background-color: var(--red-card);
        width: 280px;
        padding: 1rem;
        box-shadow: -1px 15px 30px --12px
        rgb(32, 201, 29);
        border-radius: 0.9rem;
        color: var(--text);
        cursor: pointer;
        border-radius: 20px;
        .Contenedor-tenis2{
            transform: translate(0, -1.5rem);
            transition: 0.5s ease-in-out;
            filter: drop-shadow(5px 10px 10px rgb(8, 9, 13, 0.4));
        }

        &:hover{
            .Contenedor-tenis2{
                transform: translate(-1.5rem, -7rem) rotate(-20deg);
            }
        }
        .product-info2{
            text-align: center;
            & h2{
                font-size: 1.4rem;
                font-weight: 600;
            }
            & p{
                margin: 0.4rem;
                font-size: 0.8rem;
                font-weight: 600;
            }
            .price2{
                font-size: 1.2rem;
                font-weight: 500;
            }
            .btn2{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin-top: 0.8rem;
                .buy-btn{
                    background-color: var(--btn);
                    padding: 0.6rem 3.5rem;
                    font-weight: 600;
                    font-size: 1rem;
                    color: #fff;
                    transition: 0.3s;
                    &:hover{
                        background-color: var(--btn-hover);
                    }
                }
                .favoritos{
                    background: #fff;
                    padding: 0.5rem 0.5rem;
                    border: 1px solid#000;
                    display: flex;
                    place-items: center;
                    font-size: 30px;
                }
            }
        }
    }
}

/* Fin de Diseño y Contenedor */

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-right {
        justify-content: space-between;
        width: 100%;
    }

    .Login-button, .new-button {
        margin: 10px 0;
    }

    .Imagenazul {
        width: 100%;
    }

    .Contenedor2 {
        padding: 10px;
    }

    .TextJ {
        font-size: 16px;
    }
}

/* Estilos para pantallas medianas (tabletas) */
@media (min-width: 601px) and (max-width: 1024px) {
    .Imagenazul {
        width: 100%;
    }

    .Contenedor2 {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .Jordan {
        max-width: 200px;
    }

    .TextJ {
        max-width: 60%;
        text-align: left;
    }
}

/* Estilos para pantallas grandes (computadoras de escritorio) */
@media (min-width: 1025px) {
    .Imagenazul {
        width: 80%;
    }

    .Contenedor2 {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .Jordan {
        max-width: 300px;
    }

    .TextJ {
        max-width: 60%;
        text-align: left;
    }
}